{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "loose": true
    }],
    "@babel/preset-react",
    "@babel/preset-typescript",
    "@linaria"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ]
}
